<div class="centered-content">
    <div class="modal-box fadeInBottom">
        <p class="logo" routerLink="/">Uploy&nbsp;<span class="product">|&nbsp;Rate us</span></p>
        <div class="modal-inputs">
            <div class="modal-input-container">
                <p class="modal-input-title">Address</p>
                <input type="text" class="modal-input" placeholder="Click here to type">
            </div>
            <div class="modal-input-container">
                <p class="modal-input-title">Email&nbsp;/&nbsp;Phone number</p>
                <input type="text" class="modal-input" placeholder="Click here to type">
            </div>
        </div>
        <p class="description small-description">When you submit your application a person from our team will contact you to tailor the best solution for you and your business.</p>
        <button class="primary-button">Submit</button>
    </div>
</div>
