<div class="logo-container">
    <p class="logo" routerLink="/">Uploy&nbsp;<span class="product">|&nbsp;Rate us</span></p>
</div>
<div class="centered-content" *ngIf="!success && error">
    <div class="modal-box fadeInBottom">
        <p class="error-text">Questionnaire not found! If you think this is an error please contact us at support@uploy.app or by calling +359 882 764 107</p>
    </div>
</div>
<div class="centered-content" *ngIf="success && !error">
    <div class="modal-box fadeInBottom">
        <div class="pushers">
            <p class="pusher-value" [style.color]="color">Beauty Studio Desita</p>
            <p class="description">Help them become better</p>
        </div>
        <hr>
        <div class="question">
            <p class="question-title" [style.color]="color">{{questions[currentQuestion].title}}</p>
            <div class="question-range-container" *ngIf="questions[currentQuestion].input == 0">
                <p class="question-range-title">0</p>
                <input type="range" #rangeEl value="{{(answers[currentQuestion].answer != null) ? answers[currentQuestion].answer : 5}}" (input)="updateRange(rangeEl.value)"/>
                <p class="question-range-title">10</p>
            </div>
            <p class="description" *ngIf="questions[currentQuestion].input == 0">Current value: {{(answers[currentQuestion].answer != null) ? answers[currentQuestion].answer/10 : range}}</p>
            <input class="question-input" (input)="updateText(textEl.value)" #textEl value="{{answers[currentQuestion].answer}}" type="text" placeholder="Type here..." *ngIf="questions[currentQuestion].input == 1" />
        </div>
        <div class="questions-navigation">
            <div class="question-navigation third-width" (click)="selecteQuestion(currentQuestion-1)">
                <i class="fa fa-chevron-left" [style.color]="color"></i>
                <p class="question-navigation-title">Previous</p>
            </div>
            <div class="question-navigation third-width centered">
                <p>{{currentQuestion+1}}/{{questions.length}}</p>
            </div>
            <div class="question-navigation third-width" (click)="selecteQuestion(currentQuestion+1)">
                <p class="question-navigation-title">Next</p>
                <i class="fa fa-chevron-right" [style.color]="color"></i>
            </div>
        </div>
        <button class="primary-button" [style.backgroundColor]="color">Finish and submit</button>
    </div>
</div>

