<div *ngIf="languageData">
    <div [hidden]="!successSubmission">
        <div class="centered-content">
            <div class="modal-box">
                <svg id="successAnimation" class="animated" xmlns="http://www.w3.org/2000/svg" width="70" height="70"
                viewBox="0 0 70 70">
                <path id="successAnimationResult" fill="#D8D8D8" [style.fill]="color"
                    d="M35,60 C21.1928813,60 10,48.8071187 10,35 C10,21.1928813 21.1928813,10 35,10 C48.8071187,10 60,21.1928813 60,35 C60,48.8071187 48.8071187,60 35,60 Z M23.6332378,33.2260427 L22.3667622,34.7739573 L34.1433655,44.40936 L47.776114,27.6305926 L46.223886,26.3694074 L33.8566345,41.59064 L23.6332378,33.2260427 Z" />
                <circle id="successAnimationCircle" cx="35" cy="35" r="24" stroke="#979797" stroke-width="2"
                    stroke-linecap="round" fill="transparent" [style.stroke]="color"/>
                <polyline id="successAnimationCheck" [style.stroke]="color" stroke="#979797" stroke-width="2" points="23 34 34 43 47 27"
                    fill="transparent" />
                </svg>
                <p class="modal-title">{{languageData.successTitle}}</p>
                <p class="description">{{languageData.successDescription}}</p>
            </div>
        </div>
    </div>
    <div class="language-changer">
        <div class="language-changer-topbar" (click)="showLanguageSelector = !showLanguageSelector">
            <p class="description">{{language}}</p>
            <i class="fas fa-sort-down"></i>
        </div>
        <div class="language-changer-dropdown" *ngIf="showLanguageSelector">
            <p class="language-changer-title">{{languageData.dropdownTitle}}</p>
            <p class="language-changer-language" (click)="updateLanguage('BG')">Български (BG)</p>
            <p class="language-changer-language" (click)="updateLanguage('EN')">English (EN)</p>
            <button class="small-primary-button lightgrey-button" (click)="showLanguageSelector = false">{{languageData.cancelButton}}</button>
        </div>
    </div>
    <div [hidden]="successSubmission">
        <div class="logo-container">
            <p class="logo" routerLink="/">Uploy&nbsp;<span class="product">|&nbsp;Rate us</span></p>
        </div>
        <div class="centered-content" *ngIf="!success && error">
            <div class="modal-box fadeInBottom">
                <p class="error-text">{{languageData.notFound}}</p>
            </div>
        </div>
        <div class="centered-content" *ngIf="success && !error && showQuestionnaire && active">
            <div class="modal-box fadeInBottom">
                <div class="pushers">
                    <p class="pusher-value" [style.color]="color">{{questionnaireTitle}}</p>
                    <p class="description">{{languageData.pusher}}</p>
                </div>
                <hr>
                <div class="question">
                    <p class="question-title" [style.color]="color">{{questions[currentQuestion].title}}</p>
                    <div class="question-range-container" *ngIf="questions[currentQuestion].input == 0">
                        <p class="question-range-title">0</p>
                        <input type="range" #rangeEl value="{{(answers[currentQuestion].answer != null) ? answers[currentQuestion].answer : 5}}" (input)="updateRange(rangeEl.value)"/>
                        <p class="question-range-title">100</p>
                    </div>
                    <p class="description" *ngIf="questions[currentQuestion].input == 0">{{languageData.currentValue}} {{(answers[currentQuestion].answer != null) ? answers[currentQuestion].answer : range}}</p>
                    <input class="question-input" (input)="updateText(textEl.value)" #textEl value="{{answers[currentQuestion].answer}}" type="text" placeholder="{{languageData.placeholder}}" *ngIf="questions[currentQuestion].input == 1" />
                </div>
                <div class="questions-navigation">
                    <div class="question-navigation third-width" (click)="selecteQuestion(currentQuestion-1)">
                        <i class="fa fa-chevron-left" [style.color]="color"></i>
                        <p class="question-navigation-title">{{languageData.previousButton}}</p>
                    </div>
                    <div class="question-navigation third-width centered">
                        <p>{{currentQuestion+1}}/{{questions.length}}</p>
                    </div>
                    <div class="question-navigation third-width" (click)="selecteQuestion(currentQuestion+1)">
                        <p class="question-navigation-title">{{languageData.nextButton}}</p>
                        <i class="fa fa-chevron-right" [style.color]="color"></i>
                    </div>
                </div>
                <button class="primary-button" [style.backgroundColor]="color" (click)="submit()">{{languageData.finishAndSubmitButton}}</button>
                <p class="error-text" *ngIf="errorSubmission">{{languageData.error}}</p>
            </div>
        </div>    
        <div class="centered-content" *ngIf="success && !error && showQuestionnaire && !active">
            <div class="modal-box fadeInBottom">
                <p class="error-text">{{languageData.notActive}}</p>
            </div>
        </div>
    </div>
</div>