@import '../../../styles.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

.modal-box {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.question-circles {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1rem 0rem;
}

.question-circle {
    width: 28px;
    height: 28px;
    border: 2px solid $primary;
    border-radius: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: $semi-bold-font;
    font-size: 0.9rem;
    margin-right: 0.75rem;

    &:hover {
        cursor: pointer;
        background-color: $primary;
        color: white;
        transition: 0.4s;
    }
}

.question-circle:last-of-type {
    margin-right: 0px !important;
}

.add-circle {
    background-color: $primary;
    color: white;
}

.question-title {
    font-family: $semi-bold-font;
    font-size: 0.9rem;
    color: #262626;
    text-align: center;
    margin-bottom: 0.75rem;
}

.question-input {
    padding: 0.5rem;
    border: 1px solid #e7e7e7;
    font-family: $regular-font;
    font-size: 1rem;
    color: black;
    border-radius: 3px;
    min-width: calc(350px - 1.4rem);
    max-width: calc(350px - 1.5rem);

    &:hover {
        cursor: pointer;
    }
    &:focus {
        outline: none;
    }
}

.grey-button {
    margin-bottom: 0.5rem;
}

.questions-navigation {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1.5rem 0rem;
}

.question-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: $semi-bold-font;
    font-size: 0.9rem;
    color: #262626;

    i {
        color: $primary;
    }

    &:hover {
        cursor: pointer;
    }
}

.question-navigation:last-of-type {
    justify-content: flex-end;
    p {
        margin-right: 1rem;
    }
}

.question-navigation:first-of-type {
    p {
        margin-left: 1rem;
    }
}

.question-range-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.question-range-title {
    width: 8%;
    font-family: $regular-font;
    font-size: 0.9rem;
    color: #262626;
}

.question-range-title:last-of-type {
    text-align: right;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 84%;
    padding: 1rem 0rem 0rem 0rem;
   }
   
input[type="range"]:focus {
outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
background: #e7e7e7;
border-radius: 100px;
height: 5px;
}

input[type="range"]::-moz-range-track {
background: #e7e7e7;
height: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background: #262626;
    margin-top: -5px;
    border-radius: 50%;
   }
   
   input[type="range"]::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background: #262626;
    margin-top: -5px;
    border-radius: 50%;
   }

.question .description {
    text-align: center;
}

.pusher-value {
    font-family: $bold-font;
    color: $primary;
    font-size: 1.5rem;
    text-align: center;
}

.pushers { 
    .description {
        text-align: center;
        font-family: 'Roboto Slab', serif;
        color: #262626;
        margin-top: 0.5rem;
    }
}

.logo-container {
    position: absolute;
    margin-top: 2rem;
    left: 50%;
    transform: translateX(-50%);
}

.language-changer {
  margin-top: 1.5rem;
}

.error-text {
    color: $error;
    font-family: $semi-bold-font;
    font-size: 0.9rem;
    margin-top: 0.75rem;
    text-align: center;
}

.questionnaire-title {
    font-family: $semi-bold-font;
    font-size: 1rem;
    color: #262626;
    text-align: center;
}

hr {
    background-color: #fafafa;
    border: none;
    height: 1px;
    width: 100%;
}

.third-width {
    width: 33.33%;
}

.centered { 
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.modal-title {
    color: black;
    font-family: $bold-font;
    font-size: 2rem;
    text-align: center;
}

.modal-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.fadeInBottom { animation-name: fadeInBottom }
@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(15%);
    }
    to { opacity: 1 }
}

$circle-length: 151px;
$check-length: 36px;

@keyframes scaleAnimation {
    0% {
      opacity: 0;
      transform: scale(1);
    }

    100% {
      opacity: 1;
      transform: scale(1.5);
    }
  }

@keyframes drawCircle {
  0% {
    stroke-dashoffset: $circle-length;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes drawCheck {
  0% {
    stroke-dashoffset: $check-length;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#successAnimation {
    margin-bottom: 2rem;
}

#successAnimationCircle {
  stroke-dasharray: $circle-length $circle-length;
  stroke: $primary;
}

#successAnimationCheck {
  stroke-dasharray: $check-length $check-length;
  stroke: $primary;
}

#successAnimationResult {
  fill: $primary;
  opacity: 0;
}

#successAnimation.animated {
  animation: 1s ease-out 0s 1 both scaleAnimation;
  
  #successAnimationCircle {
    animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCircle,
                0.3s linear 0.9s 1 both fadeOut;
  }
  
  #successAnimationCheck {
    animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCheck,
                0.3s linear 0.9s 1 both fadeOut;
  }
  
  #successAnimationResult {
    animation: 0.3s linear 0.9s both fadeIn;
  }
}