<div *ngIf="languageData">
    <div class="centered-content" *ngIf="!logged && loadPage">
        <div class="modal-box fadeInBottom">
            <p class="modal-title">{{languageData.errorTitle}}</p>
            <p class="description">{{languageData.errorMessage}}</p>
            <button class="small-primary-button" routerLink="/">{{languageData.errorButton}}</button>
        </div>
    </div>    
    <div *ngIf="logged && loadPage">
        <div class="navbar-topbar">
            <p class="logo" routerLink="/">Uploy&nbsp;<span class="product">|&nbsp;Rate us</span></p>
            <p class="primary-text" (click)="logOut()" [style.color]="color">{{languageData.logOutButton}}</p>
        </div>
        <div class="language-changer">
            <div class="language-changer-topbar" (click)="showLanguageSelector = !showLanguageSelector">
                <p class="description">{{language}}</p>
                <i class="fas fa-sort-down"></i>
            </div>
            <div class="language-changer-dropdown" *ngIf="showLanguageSelector">
                <p class="language-changer-title">{{languageData.dropdownTitle}}</p>
                <p class="language-changer-language" (click)="updateLanguage('BG')">Български (BG)</p>
                <p class="language-changer-language" (click)="updateLanguage('EN')">English (EN)</p>
                <button class="small-primary-button lightgrey-button" (click)="showLanguageSelector = false" (click)="activateSubscription()">{{languageData.cancelButton}}</button>
            </div>
        </div>
        <div class="main-section">
            <div class="inline">
                <p class="big-title">{{languageData.title}}</p>
                <p class="primary-text" *ngIf="showLoadingSubscription">{{languageData.loadingText}}</p>
            </div>
            <div class="row subscriptions" *ngIf="activeSubscription && showSubscriptionField"> 
                <div class="col-lg-4">
                    <div class="plan">
                        <p class="plan-title">{{activePlan.name}}</p>
                        <div class="plan-info" *ngIf="activePlan.id == 'P-1ST774221H4980723MBYL2HA' || activePlan.id == 'P-57J52129MJ5241144MBYL2VQ'">
                            <p class="plan-info-title">{{languageData.plans.includesText}}</p>
                            <p class="plan-info-item"><i class="fas fa-check"></i>{{languageData.plans.basic.includes[0]}}</p>
                            <p class="plan-info-item"><i class="fas fa-check"></i>{{languageData.plans.basic.includes[1]}}</p>
                            <p class="plan-info-item"><i class="fas fa-check"></i>{{languageData.plans.basic.includes[2]}}</p>
                            <p class="plan-info-item"><i class="fas fa-check"></i>{{languageData.plans.basic.includes[3]}}</p>
                            <p class="plan-info-item"><i class="fas fa-check"></i>{{languageData.plans.basic.includes[4]}}</p>
                        </div>
                        <div class="plan-info" *ngIf="activePlan.id == 'P-9SN29932KP065714RMBYL3JA' || activePlan.id == 'P-2HM636590S8956245MBYL3VI'">
                            <p class="plan-info-title">{{languageData.plans.includesText}}</p>
                            <p class="plan-info-item"><i class="fas fa-check"></i>{{languageData.plans.pro.includes[0]}}</p>
                            <p class="plan-info-item"><i class="fas fa-check"></i>{{languageData.plans.pro.includes[1]}}</p>
                            <p class="plan-info-item"><i class="fas fa-check"></i>{{languageData.plans.pro.includes[2]}}</p>
                            <p class="plan-info-item"><i class="fas fa-check"></i>{{languageData.plans.pro.includes[3]}}</p>
                            <p class="plan-info-item"><i class="fas fa-check"></i>{{languageData.plans.pro.includes[4]}}</p>
                            <p class="plan-info-item"><i class="fas fa-check"></i>{{languageData.plans.pro.includes[5]}}</p>
                        </div>
                        <p class="description"><span class="plan-info-title">{{languageData.plans.activeFromText}}</span>&nbsp;{{activeSubscription.from}}</p>
                        <div class="row">
                            <div class="col-lg-12" *ngIf="activePlan.id == 'P-1ST774221H4980723MBYL2HA'">
                                <div class="option selected">
                                    <p class="option-title">{{languageData.plans.basic.options[0].title}}</p>
                                    <p class="option-value">{{languageData.plans.basic.options[0].price}}&euro;</p>
                                </div>
                            </div>
                            <div class="col-lg-12" *ngIf="activePlan.id == 'P-57J52129MJ5241144MBYL2VQ'">
                                <div class="option selected">
                                    <p class="option-title">{{languageData.plans.basic.options[1].title}}</p>
                                    <p class="option-value">{{languageData.plans.basic.options[1].price}}&euro;</p>
                                </div>
                            </div>
                            <div class="col-lg-12" *ngIf="activePlan.id == 'P-9SN29932KP065714RMBYL3JA'">
                                <div class="option selected">
                                    <p class="option-title">{{languageData.plans.pro.options[0].title}}</p>
                                    <p class="option-value">{{languageData.plans.proo.options[0].price}}&euro;</p>
                                </div>
                            </div>
                            <div class="col-lg-12" *ngIf="activePlan.id == 'P-2HM636590S8956245MBYL3VI'">
                                <div class="option selected">
                                    <p class="option-title">{{languageData.plans.basic.options[1].title}}</p>
                                    <p class="option-value">{{languageData.plans.basic.options[1].price}}&euro;</p>
                                </div>
                            </div>
                        </div>
                        <p class="primary-text">{{languageData.plans.cancelText}}</p>
                    </div>
                </div>
            </div>
            <div class="row subscriptions" *ngIf="!activeSubscription && showSubscriptionField">
                <div class="col-lg-4">
                    <div class="plan">
                        <p class="plan-title">{{languageData.plans.basic.title}}</p>
                        <div class="plan-info">
                            <p class="plan-info-title">{{languageData.plans.includesText}}</p>
                            <p class="plan-info-item"><i class="fas fa-check"></i>{{languageData.plans.basic.includes[0]}}</p>
                            <p class="plan-info-item"><i class="fas fa-check"></i>{{languageData.plans.basic.includes[1]}}</p>
                            <p class="plan-info-item"><i class="fas fa-check"></i>{{languageData.plans.basic.includes[2]}}</p>
                            <p class="plan-info-item"><i class="fas fa-check"></i>{{languageData.plans.basic.includes[3]}}</p>
                            <p class="plan-info-item"><i class="fas fa-check"></i>{{languageData.plans.basic.includes[4]}}</p>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="option" [ngClass]="{'selected': selectedPlan == plan1El.id}" #plan1El id="P-1ST774221H4980723MBYL2HA" (click)="selectedPlan = plan1El.id">
                                    <p class="option-title">{{languageData.plans.basic.options[0].title}}</p>
                                    <p class="option-value">{{languageData.plans.basic.options[0].price}}&euro;</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="option" [ngClass]="{'selected': selectedPlan == plan2El.id}" #plan2El id="P-57J52129MJ5241144MBYL2VQ" (click)="selectedPlan = plan2El.id">
                                    <p class="option-title">{{languageData.plans.basic.options[1].title}}</p>
                                    <p class="option-value">{{languageData.plans.basic.options[1].price}}&euro;</p>
                                </div>
                            </div>
                        </div>
                        <p class="primary-text" *ngIf="showLoading && (selectedPlan == 'P-1ST774221H4980723MBYL2HA' || selectedPlan == 'P-57J52129MJ5241144MBYL2VQ')">{{languageData.activatingText}}</p>
                        <button class="primary-button" *ngIf="selectedPlan && (selectedPlan == 'P-1ST774221H4980723MBYL2HA' || selectedPlan == 'P-57J52129MJ5241144MBYL2VQ')" (click)="activateSubscription()">{{languageData.activateButton}}</button>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="plan recommended-plan">
                        <p class="recommended">{{languageData.recommendedText}}</p>
                        <p class="plan-title">{{languageData.plans.pro.title}}</p>
                        <div class="plan-info">
                            <p class="plan-info-title">{{languageData.plans.includesText}}</p>
                            <p class="plan-info-item"><i class="fas fa-check"></i>{{languageData.plans.pro.includes[0]}}</p>
                            <p class="plan-info-item"><i class="fas fa-check"></i>{{languageData.plans.pro.includes[1]}}</p>
                            <p class="plan-info-item"><i class="fas fa-check"></i>{{languageData.plans.pro.includes[2]}}</p>
                            <p class="plan-info-item"><i class="fas fa-check"></i>{{languageData.plans.pro.includes[3]}}</p>
                            <p class="plan-info-item"><i class="fas fa-check"></i>{{languageData.plans.pro.includes[4]}}</p>
                            <p class="plan-info-item"><i class="fas fa-check"></i>{{languageData.plans.pro.includes[5]}}</p>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="option" [ngClass]="{'selected': selectedPlan == plan3El.id}" #plan3El id="P-9SN29932KP065714RMBYL3JA" (click)="selectedPlan = plan3El.id">
                                    <p class="option-title">{{languageData.plans.pro.options[0].title}}</p>
                                    <p class="option-value">{{languageData.plans.pro.options[0].price}}&euro;</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="option" [ngClass]="{'selected': selectedPlan == plan4El.id}" #plan4El id="P-2HM636590S8956245MBYL3VI" (click)="selectedPlan = plan4El.id">
                                    <p class="option-title">{{languageData.plans.pro.options[1].title}}</p>
                                    <p class="option-value">{{languageData.plans.pro.options[1].price}}&euro;</p>
                                </div>
                            </div>
                        </div>
                        <p class="primary-text" *ngIf="showLoading && (selectedPlan == 'P-9SN29932KP065714RMBYL3JA' || selectedPlan == 'P-2HM636590S8956245MBYL3VI')">{{languageData.activatingText}}</p>
                        <button class="primary-button" *ngIf="selectedPlan && (selectedPlan == 'P-9SN29932KP065714RMBYL3JA' || selectedPlan == 'P-2HM636590S8956245MBYL3VI')" (click)="activateSubscription()">{{languageData.activateButton}}</button>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="plan">
                        <p class="plan-title">{{languageData.plans.custom.title}}</p>
                        <div class="plan-info">
                            <p class="plan-info-title">{{languageData.plans.includesText}}</p>
                            <p class="plan-info-item"><i class="fas fa-check"></i>{{languageData.plans.custom.includes[0]}}</p>
                            <p class="plan-info-item"><i class="fas fa-check"></i>{{languageData.plans.custom.includes[1]}}</p>
                            <p class="plan-info-item"><i class="fas fa-check"></i>{{languageData.plans.custom.includes[2]}}</p>
                            <p class="plan-info-item"><i class="fas fa-check"></i>{{languageData.plans.custom.includes[3]}}</p>
                        </div>
                        <p class="primary-text">{{languageData.plans.custom.salesMessage}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>