<div *ngIf="languageData">
    <div class="navbar-topbar">
        <p class="logo" routerLink="/">Uploy&nbsp;<span class="product">|&nbsp;Rate us</span></p>
        <div class="navbar-inline">
            <button class="primary-button signup-button-big" routerLink="/signup">{{languageData.signupButton}}</button>
            <button class="small-primary-button signup-button-small" routerLink="/signup">{{languageData.signupButton}}</button>
            <div class="language-changer">
                <div class="language-changer-topbar" (click)="showLanguageSelector = !showLanguageSelector">
                    <p class="description">{{language}}</p>
                    <i class="fas fa-sort-down"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="language-changer-dropdown" *ngIf="showLanguageSelector">
        <p class="language-changer-title">{{languageData.dropdownTitle}}</p>
        <p class="language-changer-language" (click)="updateLanguage('BG')">Български (BG)</p>
        <p class="language-changer-language" (click)="updateLanguage('EN')">English (EN)</p>
        <button class="small-primary-button lightgrey-button" (click)="showLanguageSelector = false">{{languageData.cancelButton}}</button>
    </div>
    <div class="page" *ngIf="loadPage">
        <div class="content-container">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-sm-12 col-xs-12">
                        <div class="col-container">
                            <div class="showoff-image"></div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-sm-12 col-xs-12">
                        <div class="col-container aligned-container">
                            <p class="col-title fadeInBottom">{{languageData.slogan}}</p>
                            <p class="col-description fadeInBottom">{{languageData.showoffDescription}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--
            <p class="slogan fadeInBottom">{{languageData.slogan}}</p>
            <button class="primary-button" routerLink="/signup">{{languageData.signupButton}}</button>
            <p class="description">{{languageData.description}}</p>
            <p class="primary-text" routerLink="/login" *ngIf="!authenticated">{{languageData.primaryText}}t</p>
            -->
        </div>
        <hr>
        <div class="content-container">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        <div class="col-container">
                            <p class="col-title fadeInBottom">{{languageData.whatDoYouGetSeciton.title}}</p>
                            <p class="col-description fadeInBottom"><i class="fas fa-check-circle"></i>{{languageData.whatDoYouGetSeciton.advantages[0]}}</p>
                            <p class="col-description fadeInBottom"><i class="fas fa-check-circle"></i>{{languageData.whatDoYouGetSeciton.advantages[1]}}</p>
                            <p class="col-description fadeInBottom"><i class="fas fa-check-circle"></i>{{languageData.whatDoYouGetSeciton.advantages[2]}}</p>
                            <p class="col-description fadeInBottom"><i class="fas fa-check-circle"></i>{{languageData.whatDoYouGetSeciton.advantages[3]}}</p>
                            <p class="col-description fadeInBottom"><i class="fas fa-check-circle"></i>{{languageData.whatDoYouGetSeciton.advantages[4]}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="content-container how-to-container">
            <div class="container">
                <p class="col-title fadeInBottom" style="text-align:center">{{languageData.howItWorksSection.title}}</p>
                <div class="row">
                    <div class="col-lg-4 col-sm-12 col-xs-12">
                        <div class="col-container">
                            <i class="fas fa-user-plus col-icon"></i>
                            <p class="col-small-title">{{languageData.howItWorksSection.columns[0].title}}</p>
                            <p class="col-description" style="text-align: center">{{languageData.howItWorksSection.columns[0].description}}</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12 col-xs-12">
                        <div class="col-container">
                            <i class="fas fa-wallet col-icon"></i>
                            <p class="col-small-title">{{languageData.howItWorksSection.columns[1].title}}</p>
                            <p class="col-description" style="text-align: center">{{languageData.howItWorksSection.columns[1].description}}</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12 col-xs-12">
                        <div class="col-container">
                            <i class="fas fa-qrcode col-icon"></i>
                            <p class="col-small-title">{{languageData.howItWorksSection.columns[2].title}}</p>
                            <p class="col-description" style="text-align: center">{{languageData.howItWorksSection.columns[2].description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="content-container final-container">
                <p class="col-title fadeInBottom">{{languageData.finalSection.title}}</p>
                <p class="col-description">{{languageData.finalSection.description}}</p>
                <button class="primary-button" routerLink="/signup">{{languageData.finalSection.buttonText}}</button>
        </div>
        <app-footer></app-footer>
    </div>
</div>