@import '../../../styles.scss';

.navbar-topbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;
    box-shadow: 0px 0px 6px #e7e7e7;
    position: fixed;
    overflow-y: hidden;
    width: 100vw;
    background-color: white;
    z-index: 100;
    height: 15vh;
}

.navbar-inline {
    display: flex;
    flex-direction: row;
    align-items: center;

    .signup-button-small {
        margin-right: 1rem;
        padding: 0.5rem 1.25rem;
        display: none;
    }

    .signup-button-big {
        margin-right: 1rem;
    }
}

.logo {
    text-align: left;
    width: max-content;
}

.language-changer {
    margin-top: 0rem !important;
    position: relative;
    margin-right: 0rem !important;
}

.language-changer-dropdown {
    margin-top: 8rem;
    right: 0;
    margin-right: 2rem;
    width: max-content;
    position: fixed;
}

.beta {
    color: $primary;
    font-family: $semi-bold-font;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.slogan {
    font-family: $bold-font;
    font-size: 3.75rem;
    color: black;
    max-width: 50%;
    text-align: center;
    margin: 2rem 0rem;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

.slogan, .cssanimation span {
    animation-duration: 1.75s;
    animation-fill-mode: both;
}

.slogan span { display: inline-block }

.page {
    padding-top: 15vh;
    height: 100vh;
}

.content-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 9rem 0rem;
}

.showoff-image {
    background-image: url('../../../assets/images/showoff_2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 6px;
    padding-bottom: 100%;
    width: 100%;
}

.col-container {
    padding: 1rem;
}

.col-title {
    font-family: $bold-font;
    font-size: 3rem;
    color: #262626;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

.col-description {
    font-family: $regular-font;
    font-size: 1rem;
    color: gray;
    text-align: justify;
    margin-top: 2rem;
}

.aligned-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fa-check-circle {
    font-size: 1.15rem;
    color: $primary;
    margin-right: 10px;
}

.fadeInBottom { animation-name: fadeInBottom }
@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(15%);
    }
    to { opacity: 1 }
}

@keyframes backgroundAnimation {
    from {background-color: $primary;}
    to {background-color: $primary;}
}

@media only screen and (max-width: 1024px) {
    .slogan {
        max-width: 80%;
    }
}

@media only screen and (max-width: 768px) {
    .content-container {
        margin: 3rem 0rem;
        .col-title {
            font-size: 1.5rem;
        }

        .col-description {
            font-size: 0.85rem;
        }
    }
    .aligned-container {
        display: block;      
    } 
    .page {
        padding-top: 10vh;
        height: 100vh;
    }
    .navbar-topbar {
        padding: 1rem 2rem;
        height: 10vh;
        
        .logo {
            font-size: 1rem;
        }
        .product {
            font-size: 0.75rem;
        }
        .language-changer-topbar {
            .description {
                font-size: 0.75rem;
            }
        }
        .signup-button-small {
            display: block;
        }
        .signup-button-big {
            display: none;
        }
    }
    .slogan {
        font-size: 2.5rem;
        max-width: 95%;
    }
    .description {
        text-align: center;
    }
    .fab:first-of-type {
        margin-left: 0px;
    }
    .language-changer-dropdown {
        margin-top: 6rem;
        margin-right: 1rem;
    }
}

.description {
    margin: 1rem 0rem;
}