<div *ngIf="languageData">
    <div class="navbar-topbar">
        <p class="logo" routerLink="/">Uploy&nbsp;<span class="product">|&nbsp;Rate us</span></p>
        <div class="navbar-inline">
            <button class="primary-button signup-button-big" routerLink="/signup">{{languageData.signupButton}}</button>
            <button class="small-primary-button signup-button-small" routerLink="/signup">{{languageData.signupButton}}</button>
            <div class="language-changer">
                <div class="language-changer-topbar" (click)="showLanguageSelector = !showLanguageSelector">
                    <p class="description">{{language}}</p>
                    <i class="fas fa-sort-down"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="language-changer-dropdown" *ngIf="showLanguageSelector">
        <p class="language-changer-title">{{languageData.dropdownTitle}}</p>
        <p class="language-changer-language" (click)="updateLanguage('BG')">Български (BG)</p>
        <p class="language-changer-language" (click)="updateLanguage('EN')">English (EN)</p>
        <button class="small-primary-button lightgrey-button" (click)="showLanguageSelector = false">{{languageData.cancelButton}}</button>
    </div>
    <div class="page" *ngIf="loadPage">
        <div class="content-container">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-sm-12 col-xs-12">
                        <div class="col-container">
                            <div class="showoff-image"></div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-sm-12 col-xs-12">
                        <div class="col-container aligned-container">
                            <p class="col-title fadeInBottom">{{languageData.slogan}}</p>
                            <p class="col-description fadeInBottom">{{languageData.showoffDescription}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--
            <p class="slogan fadeInBottom">{{languageData.slogan}}</p>
            <button class="primary-button" routerLink="/signup">{{languageData.signupButton}}</button>
            <p class="description">{{languageData.description}}</p>
            <p class="primary-text" routerLink="/login" *ngIf="!authenticated">{{languageData.primaryText}}t</p>
            -->
        </div>
        <div class="content-container">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        <div class="col-container">
                            <p class="col-title fadeInBottom">What do you get?</p>
                            <p class="col-description fadeInBottom"><i class="fas fa-check-circle"></i>Better overview of what your customers think for your business</p>
                            <p class="col-description fadeInBottom"><i class="fas fa-check-circle"></i>The ability to preview if new changes are likable to to your customers.</p>
                            <p class="col-description fadeInBottom"><i class="fas fa-check-circle"></i>Honest feedback because all of your customers' answers are anonymous</p>
                            <p class="col-description fadeInBottom"><i class="fas fa-check-circle"></i>Increase in sales if clients' feedback is important for you</p>
                            <p class="col-description fadeInBottom"><i class="fas fa-check-circle"></i>Closer connection between you and the customer in which they feel as a participant in your business</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>