<div *ngIf="languageData">
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p class="question-title" style="text-align: center">{{languageData.deleteDropdown.description}}</p>
                    <button class="primary-button" (click)="deleteQuestionnaire()" 
                        data-dismiss="modal">{{languageData.deleteDropdown.yesText}}</button>
                    <button class="primary-button lightgrey-button"
                        data-dismiss="modal">{{languageData.deleteDropdown.noText}}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="language-changer">
        <div class="language-changer-topbar" (click)="showLanguageSelector = !showLanguageSelector">
            <p class="description">{{language}}</p>
            <i class="fas fa-sort-down"></i>
        </div>
        <div class="language-changer-dropdown" *ngIf="showLanguageSelector">
            <p class="language-changer-title">{{languageData.dropdownTitle}}</p>
            <p class="language-changer-language" (click)="updateLanguage('BG')">Български (BG)</p>
            <p class="language-changer-language" (click)="updateLanguage('EN')">English (EN)</p>
            <button class="small-primary-button lightgrey-button" (click)="showLanguageSelector = false">{{languageData.cancelButton}}</button>
        </div>
    </div>
    <div class="centered-content" *ngIf="!success && error">
        <div class="modal-box fadeInBottom">
            <p class="error-text">{{languageData.notFound}}</p>
        </div>
    </div>
    <div class="centered-content" *ngIf="success && !error">
        <div class="modal-box fadeInBottom">
            <p class="logo" routerLink="/">Uploy&nbsp;<span class="product">|&nbsp;Rate us</span></p>
            <div class="questionnaire-title-seciton">
                <p class="question-title">{{languageData.inputs[0].title}}</p>
                <input class="question-input" type="text" value="{{questionnaireTitle}}" placeholder="{{languageData.placeholder}}" #questionnaireTitleEl (input)="updateTitle(questionnaireTitleEl.value)"/>
            </div>
            <div class="modal-topbar">
                <div class="question-circles">
                    <p class="question-circle" *ngFor="let question of questions; let i = index" (click)="selecteQuestion(i)" [ngClass]="{'add-circle': i == currentQuestion}">{{i+1}}</p>
                    <p class="question-circle add-circle" *ngIf="questions.length < 4" (click)="addQuestion()">+</p>
                </div>
            </div>
            <div class="question">
                <p class="question-title">{{languageData.inputs[1].title}}</p>
                <input class="question-input" type="text" placeholder="Type here..." #questionEl value="{{questions[currentQuestion].title}}" (input)="updateQuestion(questionEl.value, inputEl.value)"/>
                <p class="question-title">{{languageData.inputs[2].title}}</p>
                <select class="question-input" #inputEl (input)="updateQuestion(questionEl.value, inputEl.value)">
                    <option value="0" [selected]="questions[currentQuestion].input == 0">{{languageData.inputs[2].options[1].title}}</option>
                    <option value="1" [selected]="questions[currentQuestion].input == 1">{{languageData.inputs[2].options[0].title}}</option>
                </select>
            </div>
            <button class="primary-button grey-button" (click)="deleteQuestion()">{{languageData.deleteQuestionButton}}</button>
            <button class="primary-button" (click)="submitData()">{{languageData.finishAndSubmitButton}}</button>
            <p class="error-text" *ngIf="errorUpdate">{{languageData.error}}</p>
            <p class="error-text" *ngIf="errorNull">{{languageData.errorNull}}</p>
            <p class="success-text" *ngIf="successUpdate">{{languageData.success}}</p>
            <button class="primary-button red-button" data-toggle="modal"
            data-target="#exampleModalCenter">{{languageData.deleteQuestionnaireButton}}</button>
        </div>
    </div>
</div>

