<div class="centered-content" *ngIf="!success && error">
    <div class="modal-box fadeInBottom">
        <p class="error-text">Questionnaire not found! If you think this is an error please contact us at support@uploy.app or by calling +359 882 764 107</p>
    </div>
</div>
<div class="centered-content" *ngIf="success && !error">
    <div class="modal-box fadeInBottom">
        <p class="logo" routerLink="/">Uploy&nbsp;<span class="product">|&nbsp;Rate us</span></p>
        <div class="questionnaire-title-seciton">
            <p class="question-title">Questionnaire title</p>
            <input class="question-input" type="text" value="{{questionnaireTitle}}" placeholder="Type here..." #questionnaireTitleEl (input)="updateTitle(questionnaireTitleEl.value)"/>
        </div>
        <div class="modal-topbar">
            <div class="question-circles">
                <p class="question-circle" *ngFor="let question of questions; let i = index" (click)="selecteQuestion(i)" [ngClass]="{'add-circle': i == currentQuestion}">{{i+1}}</p>
                <p class="question-circle add-circle" *ngIf="questions.length < 4" (click)="addQuestion()">+</p>
            </div>
        </div>
        <div class="question">
            <p class="question-title">What is your question?</p>
            <input class="question-input" type="text" placeholder="Type here..." #questionEl value="{{questions[currentQuestion].title}}" (input)="updateQuestion(questionEl.value, inputEl.value)"/>
            <p class="question-title">How will the client respond?</p>
            <select class="question-input" #inputEl (input)="updateQuestion(questionEl.value, inputEl.value)">
                <option value="0" [selected]="questions[currentQuestion].input == 0">With rating from 0-10</option>
                <option value="1" [selected]="questions[currentQuestion].input == 1">With text</option>
            </select>
        </div>
        <button class="primary-button grey-button" (click)="deleteQuestion()">Delete this question</button>
        <button class="primary-button" (click)="submitData()">Finish and submit</button>
        <p class="error-text" *ngIf="errorUpdate">There was an error updating your questionnaire. Try again or contact support at support@uploy.app or by calling +359 882 764 107</p>
        <p class="success-text" *ngIf="successUpdate">Successfully updated the questionnaire! The window will reload in 4s.</p>
    </div>
</div>

