/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Logo';
    src: url('./assets/fonts/Quicksand/Quicksand-Bold.ttf');
}
@font-face {
    font-family: 'Montserrat Bold';
    src: url('./assets/fonts/Montserrat/Montserrat-Bold.ttf');
}
@font-face {
    font-family: 'Montserrat SemiBold';
    src: url('./assets/fonts/Montserrat/Montserrat-SemiBold.ttf');
}
@font-face {
    font-family: 'Montserrat Regular';
    src: url('./assets/fonts/Montserrat/Montserrat-Regular.ttf');
}

$logo-font: 'Logo', sans-serif;
$bold-font: 'Montserrat Bold', sans-serif;
$semi-bold-font: 'Montserrat SemiBold', sans-serif;
$regular-font: 'Montserrat Regular', sans-serif;

$primary: #90d977;
$error: #d53939;

body {
    margin: 0px;
}

p {
    margin-bottom: 0px;
}

.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.description {
    font-family: $regular-font;
    font-size: 0.9rem;
    color: gray;
}

.small-description {
    font-size: 0.7rem;
}

.modal-box {
    box-shadow: 0px 0px 6px #e7e7e7;
    border: 1px solid #e7e7e7;
    border-radius: 6px;
    padding: 2rem 4rem;
    min-width: 450px;
    max-width: 450px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.logo {
    font-family: $logo-font;
    font-size: 1.5rem;
    color: black;
    text-align: center;

    &:hover {
        cursor: pointer
    }
    &:focus {
        outline: none;
    }
}

.product {
    font-family: $regular-font;
    font-size: 1rem;
    margin-top: 4px;
}

.primary-button {
    background-color: $primary;
    animation: backgroundAnimation 5s infinite;
    color: white;
    font-family: $semi-bold-font;
    font-size: 1rem;
    padding: 0.75rem;
    border-radius: 3px;
    border: none;
    min-width: 150px;

    &:hover {
        cursor: pointer;
    }

    &:focus {
        outline: none;
    }
}

.primary-text {
    font-family: $semi-bold-font;
    font-size: 1rem;
    color: $primary;

    &:hover {
        cursor: pointer;
    }
    &:focus {
        outline: none;
    }
}

.grey-button {
    background-color: #e7e7e7;
    color: #262626;
}

.page-title {
    font-family: $bold-font;
    font-size: 1.5rem;
    color: black;
    text-align: center;
}

.small-primary-button {
    background-color: $primary;
    animation: backgroundAnimation 5s infinite;
    color: white;
    font-family: $semi-bold-font;
    font-size: 0.75rem;
    padding: 0.5rem;
    border-radius: 3px;
    border: none;
    width: 100%;

    &:hover {
        cursor: pointer;
    }

    &:focus {
        outline: none;
    }
}

.important {
    font-family: $semi-bold-font;
}

.description {
    margin: 1rem 0rem;
}

.lightgrey-button {
    background-color: #eaeaea !important;
    color: #262626;
}

.language-changer {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    right: 0;
    margin-right: 2rem;
    margin-top: 0.5rem;
}

.language-changer-topbar {
    display: flex;
    flex-direction: row;
    align-items: center;

    .description {
        text-transform: uppercase;
    }

    i {
        margin-top: -6px;
        margin-left: 4px;
    }

    &:hover {
        cursor: pointer;
    }
    &:focus {
        outline: none;
    }
}

.language-changer-dropdown {
    padding: 1rem;
    border: 1px solid white;
    box-shadow: 0px 0px 6px #e7e7e7;
    border-radius: 6px;
    background-color: white;
    z-index: 999999;

    .small-primary-button {
        margin-top: 0.5rem;
    }
}

.language-changer-title {
    font-family: $semi-bold-font;
    font-size: 0.9rem;
    color: #262626;
    text-align: center;
    margin-bottom: 0.5rem;
}

.language-changer-language {
    font-family: $regular-font;
    font-size: 0.8rem;
    color: #262626;
    text-align: center;
    margin-bottom: 0.4rem;

    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
    &:focus {
        outline: none;
    }
}